<nav>
    <img src="./assets/img/favicon.png" onclick="window.open('<%= url %>', '_BLANK')">
    <a href="/">Accueil</a>
    <a href="/about">Concept</a>
    <a href="/contact">Contact</a>
    <a href="/legal">Mentions légales</a>
    <button onclick="document.location.href = '/manage'">
        <i class="fas fa-user-circle"></i> Espace Vie Scolaire
    </button>
</nav>

<nav class="mobile-top">
    <img src="./assets/img/logo.png" onclick="window.open('<%= url %>', '_BLANK')">
    <button onclick="document.location.href = '/manage'">
        <i class="fas fa-user-circle"></i> Espace Vie Scolaire
    </button>
</nav>

<nav class="mobile-bottom">
    <a href="/" title="Acceuil">
        <i class="fas fa-home"></i>
    </a>
    <a href="/about" title="Concept">
        <i class="fas fa-info-circle"></i>
    </a>
    <a href="/contact" title="Contact">
        <i class="fas fa-address-book"></i>
    </a>
    <a href="/legal" title="Mentions légales">
        <i class="fas fa-balance-scale-right"></i>
    </a>
</nav>