<nav>
    <button class="nav home" path="/manage">
        <i class="fas fa-home"></i>
    </button>
    <button class="nav shop" path="/manage/shop">
        <i class="fas fa-store"></i>
    </button>
    <button class="nav orders" path="/manage/orders">
        <i class="fad fa-inbox"></i>
    </button>
    <button class="nav logout" path="/api/v1/logout?callback=/manage/login">
        <i class="fas fa-sign-out"></i>
    </button>
</nav>